
.szed-icon-database:before { content: '\e800'; } /* '' */
.szed-icon-eye:before { content: '\e801'; } /* '' */
.szed-icon-hdd:before { content: '\f0a0'; } /* '' */
.szed-icon-crop:before { content: '\f125'; } /* '' */
.szed-icon-ellipsis-vert:before { content: '\f142'; } /* '' */