/* Grid */
.hh-editor-page {
	/*width:980px;*/
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.hh-editor-page__secondary {
}

.hh-editor-page__editor {
	margin-right: 20px;
}

/* Editor - Sizes list */
.hh-sizes-list {
	margin-bottom:20px;

	max-height: 330px;
	overflow-y: auto;
}

.hh-sizes-list__item {
	display: flex;
	margin-bottom: 10px;
}

.hh-sizes-list__item-cell {
	margin-right: 20px;
}

.hh-sizes-list__item-info {
	display:flex;
}

/* Editor*/
.hh-editor {
	width: 500px;
	border: 1px solid #fca;
}

.hh-editor__image {
	display: block;

	/* This rule is very important, please don't ignore this */
	max-width: 100%;
}

/* Editor - Buttons */
.hh-editor__buttons-container {
	margin-top:20px;
}

.hh-editor__buttons {
}

/* Editor - Previews */
.hh-previews {
	display:flex;
	margin-top:20px;
}

.hh-previews__item {
	margin-right:20px;
	width: 200px;
}

.hh-previews__item-title {
	margin-bottom:10px;
	font-weight:bold;
}

.hh-previews__item-content {
}

.hh-previews__item-content img {
	max-width: 100%;
}

.hh-preview-current {
	width: 200px; /* required for cropperjs !!! */
	height: 200px; /* required for cropperjs !!! */
	overflow: hidden; /* required for cropperjs !!! */
}

/* Editor - Preloader */
.hh-pending-info {
	display: flex;
	margin-top: 20px;
	align-items: center;
}

.hh-pending-info--hidden {
	display:none;
}

.hh-pending-info__preloader {
	margin-right: 10px;
}

.hh-pending-info__text {
	margin-right: 10px;
}

.hh-preloader-wrapper {
}

.hh-preloader {
	width: 30px;
	height: 30px;

	position: relative;
}

.hh-preloader__bounce1,
.hh-preloader__bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #999;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.hh-spinner__bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		  transform: scale(1.0);
		  -webkit-transform: scale(1.0);
	  }
}

/* Editor - Errors */
.hh-errors {
	display:none;
	margin: 20px 0 0 0; /* extending .notice from wp-core */
}

/* Editor - Misc */
.hh-misc {
	margin-top: 20px;
}

.hh-misc__title {
	margin-bottom:10px;
	font-weight:bold;
}

.hh-misc__content {
}
